* {
    box-sizing: border-box;
}
.projectTable table {
    color: white;
    width: 95%;
    margin: 0 auto;
    background-image: linear-gradient(45deg, #6DB2B1, #7E599C);
    border-collapse: collapse;
}

table td, th {
    padding: 10px;
    text-align: left;
}

.projectTable h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

table a {
    color: white;
    text-decoration: none;
}

table a:hover {
    color white;
    text-decoration: underline;
}

table tr:hover {
    background: rgba(255,255,255, 0.3);
}

table th{
    background-color: #55608f;
    border: none;
}
